/* Medium Screen (max-width: 1200px) */
@media screen and (max-width: 1200px) {
  section {
    padding: 2rem 5rem;
  }
  .nav-links {
    display: none;
  }
  #hamburger-nav {
    display: block;
  }
  .section-container {
    flex-direction: column;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
  }
}

/* Small Screen (max-width: 600px) */
@media screen and (max-width: 600px) {
  section {
    padding: 1rem;
  }
  nav {
    padding: 0 1rem;
  }
  .menu-links {
    width: 100%;
  }
  .section__pic-container {
    width: 200px;
    height: 200px;
  }
  .btn {
    width: 100%;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  footer {
    flex-direction: column;
  }
}
